<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.joshrap.liteweight">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/app_logo"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/app_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".services.TimerService" />
        <service android:name=".services.StopwatchService" />
        <service android:name=".services.SyncWorkoutService" />
        <service
                android:name=".services.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
                android:name=".activities.MainActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustPan" />

        <activity
                android:name=".activities.SignUpActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SignInTheme"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.ResetPasswordActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SignInTheme"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.SignInActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SignInTheme"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.NewAccountActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SignInTheme"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.UnverifiedActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SignInTheme"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.LandingActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/notification_icon" />

    </application>

</manifest>